#gra {
	float:left;
}

#chatLog {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 6px;
	padding-top: 6px;
	margin-bottom: 16px;
	height: 300px;
	overflow: auto;
	width: 400px;
	float: right;
}

